 .foo{
            display:flex;
        }
        
        .bazz{
            display:flex;
            flex-direction:column;
            align-items:center;
            background-color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
        }
            @keyframes bounce{
                from{
                    transform:translate3d(0,0,0);
                }
                to{
                    transform:translate3d(1240px,0,0);
                }
            }
            .ball{
                   width:80px;
                   height:80px;
                   border-radius:50%;
                   background-color:brown;

                animation: bounce 4s linear;
                animation-direction:alternate;
                animation-iteration-count:infinite;
            }
        footer{
            display:flex;
            justify-content:space-between;
            align-items:center;

        }
        